<div class="container">
<h1>Блог Повелителя Мира</h1>
<%= link_to 'Новый план захвата мира', new_article_path, :class => "btn btn-primary btn-lg" %>
<%= link_to 'Метки', alltags_path, :class => "btn btn-primary btn-lg" %>
<%= link_to 'Планы', articles_path, :class => "btn btn-success btn-lg" %>
<br><br>
<table class="table">
<thead>
</thead>
 <tbody>
  <% @list_articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(article) %><br>
      <%= article.text %></td>
    </tr>
  <% end %>
</tbody>
</table>

</div>
